clima_prueba.ipynb
venv
.env
__pycache__/

#Airflow
/Airflow/.astro
/Airflow/dags/example_dag_advanced.py
/Airflow/dags/example_dag_basic.py
/Airflow/tests
/Airflow/.astro
/Airflow/.gitignore
/Airflow/.git
/Airflow/.env
/Airflow/airflow_settings.yaml
/Airflow/astro
/Airflow/.dockerignore